.netlify
.CFid
**/.DS_Store
cf_data/
of_media/
sb_data/
media/
samples/
index.html.orig
0_DeployatAWS
1_StoreCFid
2_Git.setup
A_Htmlmod2
B_Maketest
C_Syncme
D_Invalidate
2_Git.setupWWW
A_Htmlmod2WWW
B_MaketestWWW
C_SyncmeWWW
D_InvalidateWWW

#old names
cfresultssky
dan
git.setup
htmlmod2
invalidate
maketest
scriptnew497.js
syncme
